.header {
  background-image: linear-gradient(
      0deg,
      rgba(43, 43, 43, 1) 10%,
      rgba(0, 0, 0, 0) 10%
    ),
    url("/img/page-1/banner.png");
  height: 500px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* !!!sa traiasca jocul cu broastele!!! */
}

/* header-top */
.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.header-connect li {
  display: inline;
  margin-left: 30px;
  color: #ffffff;
}

.header-connect a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  color: #ffffff;
}

.header-controls li {
  display: inline;
  margin-right: 30px;
}

.header-controls a {
  text-decoration: none;
  color: inherit;
}

.header-controls ul li:nth-child(1) {
  border: 1px solid black;
  padding: 5px 130px 5px 10px;
  border-radius: 1px;
}
/* ./header-top */

/* header-bottom */
.navbar ul {
  display: flex;
  justify-content: space-between;
  border: 1px solid #2b2b2b;
  background: #2b2b2b;
  padding: 14px 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #e8e8e8;
  font-size: 19px;
  text-transform: uppercase;
}
/* ./header-bottom */

/* content */
/* product-tile */
.home-catalog-preview {
  text-align: center;
}

.product-tiles-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 35px;
}

.product-tiles-section {
  display: flex;
  justify-content: space-between;
}

.product-tile {
  text-align: center;
  color: inherit;
  margin: 35px 0 70px 0;
  position: relative;
}

.product-tile i {
  position: absolute;
  top: 20px;
  right: 20px;
  scale: 2;
}

.product-tile-img {
  width: 321px;
}

.product-tile-name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

.product-tile-price {
  font-size: 22px;
  margin-top: 15px;
}
/* ./product-tile */

/* cat-about */
.home-content {
  display: flex;
  align-items: center;
  margin: 75px 0;
}

.home-content-img {
  width: 666px;
}

.home-content-text {
  margin-left: 120px;
}

.home-content-text h1 {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  color: inherit;
  margin-bottom: 40px;
}

.home-content-text p {
  margin-bottom: 70px;
  font-size: 22px;
  font-weight: lighter;
  line-height: 40px;
}
/* ./cat-about */
/* ./content */

/* footer */
.footer-bg {
  width: 100%;
  max-width: 1920px;
  background: #e8e8e8;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin-top: 50px;
}

.footer a {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
}

.footer-socials-ico li {
  display: inline;
  margin-right: 15px;
}

.footer-email {
  height: 25px;
  margin: 10px 0;
}

.footer-btn {
  font-size: 14px;
  padding: 5px 15px;
  margin-bottom: 20px;
  border: px solid #2b2b2b;
  font-family: inherit;
  text-transform: uppercase;
}

.footer-1 a,
.footer-2 a,
.footer-3 a {
  line-height: 30px;
}
/* ./footer */
